include:
  - https://gitlab.com/ubports/porting/community-ports/halium-generic-adaptation-build-tools/-/raw/main/gsi-port-ci.yml

variables:
  ROOTFS_URL: "https://ci.ubports.com/job/ubuntu-touch-rootfs/job/ubports%252Ffocal/lastSuccessfulBuild/artifact/ubuntu-touch-android9plus-rootfs-arm64.tar.gz"
  OTA_CHANNEL: "20.04/arm64/android9plus/stable"

image: ubuntu:20.04

build:
  rules:
   - when: never

flashable:
  rules:
   - when: never

devel-flashable:
  rules:
   - when: never

build-android12-5.4:
  tags: [ubports]
  extends: build
  before_script:
    - ln -sf deviceinfo-android12-5.4 deviceinfo
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"

build-android12-5.10:
  tags: [ubports]
  extends: build
  before_script:
    - ln -sf deviceinfo-android12-5.10 deviceinfo
  after_script:
   - ./make-bootimages.sh
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"

build-android13-5.10:
  tags: [ubports]
  extends: build
  before_script:
    - ln -sf deviceinfo-android13-5.10 deviceinfo
  after_script:
   - ./make-bootimages.sh
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"

build-android13-5.15:
  tags: [ubports]
  extends: build
  before_script:
    - ln -sf deviceinfo-android13-5.15 deviceinfo
  after_script:
   - ./make-bootimages.sh
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"

build-android14-6.1:
  tags: [ubports]
  extends: build
  before_script:
    - ln -sf deviceinfo-android14-6.1 deviceinfo
  after_script:
   - ./make-bootimages.sh
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"

devel-flashable-android12-5.4:
  extends: [devel-flashable]
  needs: [build-android12-5.4]
  before_script:
    - ln -sf deviceinfo-android12-5.4 deviceinfo
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"

devel-flashable-android12-5.10:
  extends: [devel-flashable]
  needs: [build-android12-5.10]
  before_script:
    - ln -sf deviceinfo-android12-5.10 deviceinfo
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"
  artifacts:
    paths:
      - out/boot*.img
      - out/init_boot.img
      - out/ubuntu.img

devel-flashable-android13-5.10:
  extends: [devel-flashable]
  needs: [build-android13-5.10]
  before_script:
    - ln -sf deviceinfo-android13-5.10 deviceinfo
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"
  artifacts:
    paths:
      - out/boot*.img
      - out/init_boot.img
      - out/ubuntu.img

devel-flashable-android13-5.15:
  extends: [devel-flashable]
  needs: [build-android13-5.15]
  before_script:
    - ln -sf deviceinfo-android13-5.15 deviceinfo
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"
  artifacts:
    paths:
      - out/boot*.img
      - out/init_boot.img
      - out/ubuntu.img

devel-flashable-android14-6.1:
  extends: [devel-flashable]
  needs: [build-android14-6.1]
  before_script:
    - ln -sf deviceinfo-android14-6.1 deviceinfo
  rules:
   - if: $CI_PIPELINE_SOURCE == "push"
  artifacts:
    paths:
      - out/boot*.img
      - out/init_boot.img
      - out/ubuntu.img
